body {
    background-color: var(--background-color-white);
    color: var(--color-black);
    transition: var(--transition-duration);
    font-family: var(--font-family);
    font-size: clamp(18px, 1.80vw, 24px);
}
a, button {
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: var(--transition-duration);
    text-underline-position: under;
}
.button {
    display: inline-flex;
    align-items: center;
    padding-inline: 55px;
}
.container {
    max-width: var(--container-width);
    padding-inline: var(--padd-x);
    margin: 0 auto;
}
b {
    color: var(--color-accent);
    font-weight: 700;
}
main {
    min-height: 100vh;
}