:root {
    --font-family: "VK Sans Display", sans-serif;
    --seconde-family: "Montserrat", sans-serif;

    --border-radius-100: 100%;
    --border-radius-30: 30px;
    --border-radius-23: 23px;
    --border-radius-15: 15px;
    --border-radius-10: 10px;
    --border-radius-5: 5px;
    --border-none: none;

    --box-shadow-header: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    --box-shadow-footer: 0 -5px 20px 0 rgba(0, 0, 0, 0.25);

    --background-color-white: #efefef;
    --background-color-light: #fff;
    --background-color-accent: #357ed6; 

    --color-black: #000;
    --color-white: #fff;
    --color-accent: #387ACD; 
    --color-light-gray: rgba(0, 0, 0, 0.4);

    --transition-duration: 0.3s;

    --padd-x: 10px;

    --container-width: 1350px;
}
.dark-theme {
    --background-color-white: #282828;
    --background-color-light: #303030;
    /* --background-color-light: -1px -1px 8px 0px rgba(209, 220, 229, 0.2) inset; */
    --color-light-gray: rgba(255, 255, 255, 0.4);

    --color-black: #fff;
}